/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        back_tilde: back_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "BACK_TILDE";
            bindings = <&kp BACKSPACE>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        td_esc_grave_tilde: td_esc_grave_tilde {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC_GRAVE_TILDE";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&kp GRAVE>, <&kp TILDE>;

            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_layer {
            display-name = "Mac";
            bindings = <
&td_esc_grave_tilde  &kp N1  &kp N2  &kp N3  &kp N4        &kp N5                                &kp N6  &kp N7      &kp N8        &kp N9   &kp N0    &kp BACKSPACE
&kp TAB              &kp Q   &kp W   &kp E   &kp R         &kp T                                 &kp Y   &kp U       &kp I         &kp O    &kp P     &kp BACKSLASH
&kp LCTRL            &kp A   &kp S   &kp D   &kp F         &kp G                                 &kp H   &kp J       &kp K         &kp L    &kp SEMI  &kp ENTER
&kp LSHFT            &kp Z   &kp X   &kp C   &kp V         &kp B         &kp LBKT     &kp RBKT   &kp N   &kp M       &kp COMMA     &kp DOT  &kp FSLH  &kp SQT
                                     &tog 1  &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE    &kp SPACE  &mo 2   &kp DELETE  &kp CAPSLOCK
            >;
        };

        win_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Windows";
            bindings = <
&td_esc_grave_tilde  &kp N1  &kp N2  &kp N3  &kp N4        &kp N5                          &kp N6  &kp N7      &kp N8        &kp N9   &kp N0    &kp BACKSPACE
&kp TAB              &kp Q   &kp W   &kp E   &kp R         &kp T                           &kp Y   &kp U       &kp I         &kp O    &kp P     &kp BACKSLASH
&kp LCTRL            &kp A   &kp S   &kp D   &kp F         &kp G                           &kp H   &kp J       &kp K         &kp L    &kp SEMI  &kp ENTER
&kp LSHFT            &kp Z   &kp X   &kp C   &kp V         &kp B   &kp LBKT     &kp RBKT   &kp N   &kp M       &kp COMMA     &kp DOT  &kp FSLH  &kp SQT
                                     &trans  &kp LEFT_ALT  &mo 2   &kp SPACE    &kp SPACE  &mo 2   &kp DELETE  &kp CAPSLOCK
            >;
        };

        mods_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "mods";
            bindings = <
&soft_off   &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                  &kp F6       &kp F7          &kp F8             &kp F9           &kp MINUS  &kp EQUAL
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                            &kp F7       &kp DEL         &kp UP_ARROW       &kp F10          &kp F11    &kp F12
&trans      &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &bootloader                             &bootloader  &kp LEFT_ARROW  &kp DOWN_ARROW     &kp RIGHT_ARROW  &kp RPAR   &kp TILDE
&trans      &trans        &trans        &trans        &trans        &trans        &sys_reset    &sys_reset  &trans       &kp F6          &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp RBRC   &sys_reset
                                        &trans        &trans        &trans        &trans        &trans      &trans       &trans          &trans
            >;
        };
    };
};
